<br><br>
<div class="service">
    <div class="service-content">
        <div><%= link_to("Housing", "/housing") %></div>
        <div class="image"><%= image_tag '/housing.jpg', :width=>'auto', :height=>'80'%></div>
    </div>
    <div class="service-content">
        <div><%= link_to("Financial", "/financial") %></div>
        <div class="image"><%= image_tag '/bank.jpg',:width=>'auto',:height=>'80'%></div>
    </div>
    <div class="service-content">
        <div><%= link_to("Medical", "/medical") %></div>
        <div class="image"><%= image_tag '/hospital.png',:width=>'auto',:height=>'80'%></div>
    </div>
</div>