<!DOCTYPE html>
<html>
  <head>
    <title>3SFF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <div class="header">
      <div class="header-logo"><i class="fas fa-align-justify"></i> 3SFF</div>
      <div class="header-list">
        <ul class="header-list">
          <!--<li><i class="fas fa-caret-right"></i> News</li>-->
          <!--<li><i class="fas fa-caret-right"></i> Mail Magazine</li>-->
          <!--<li><i class="fas fa-caret-right"></i> Degital Catalog</li>-->
          <!--<li><i class="fas fa-caret-right"></i> Menbership Agreement</li>-->
          <li><i class="fas fa-caret-right"></i><%= link_to(" Home","/", :style=>"color:#FFFFFF;") %></li>
          <!--<li><i class="fas fa-caret-right"></i><% link_to(" Users","/user/index", :style=>"color:#FFFFFF;") %></li>-->
          <li><i class="fas fa-caret-right"></i><%= link_to(" Service","/facility/index", :style=>"color:#FFFFFF;") %></li>
          <% if @current_user%>
           <li class="log-off">
            <p>Current User:<%= @current_user.name %></p>
            <p><%= link_to("Log-off ","/logoff", :style=>"color:#FFFFFF;") %><i class="fas fa-sign-in-alt"></i></p>
            <li class="register-facility">
            <i class="fas fa-plus-circle"></i><%= link_to(" Add Service","/facility/create_form", :style=>"color:#FFFFFF;") %>
           </li>
           </li>
          <% else %>
           <li class="log-in">
            <i class="fas fa-sign-in-alt"></i><%= link_to(" Log-in","/login_form", :style=>"color:#FFFFFF;") %>
           </li>
           <li class="create">
            <i class="fas fa-child"></i><%= link_to(" Sign-up","/create_form", :style=>"color:#FFFFFF;") %>
           </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-logo"><i class="fas fa-align-justify"></i> 3SFF</div>
      <div class="footer-list">
        <p><i class="fas fa-info-circle"></i> Infomation</p>
        <ul>
          <li>About</li>
          <li>Recruiting</li>
          <li>Inquiry</li>
        </ul>
      </div>
    </div>
  </body>
</html>
