<!DOCTYPE html>
<html>
  <head>
    <title>SSSFF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <div class="header">
      <div class="header-logo"><i class="fas fa-align-justify"></i> SSSFF</div>
      <div class="header-list">
        <ul class="header-list">
          <li><i class="fas fa-caret-down"></i> News</li>
          <li><i class="fas fa-caret-down"></i> Mail Magazine</li>
          <li><i class="fas fa-caret-down"></i> Degital Catalog</li>
          <li><i class="fas fa-caret-down"></i> Menbership Agreement</li>
        </ul>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-logo"><i class="fas fa-align-justify"></i> SSSFF</div>
      <div class="footer-list">
        <p><i class="fas fa-info-circle"></i> Infomation</p>
        <ul>
          <li>About</li>
          <li>Recruiting</li>
          <li>Inquiry</li>
        </ul>
      </div>
    </div>
  </body>
</html>
